@model WebApplication7.Models.EditProfileViewModel

@{ ViewBag.Title = "Edit Profile"; }
<link href="~/Content/css/main.min.css" rel="stylesheet" />
<link href="~/Content/css/color.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/responsive.css" rel="stylesheet" />

<div class="theme-layout">
    <div class="container-fluid pdng0">
        <div class="row merged">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="land-featurearea">
                    <div class="land-meta">
                        <h1>Winku</h1>
                        <p class="mb-5">
                            Winku is free to use for as long as you want with two active projects.
                        </p>
                        <div class="friend-logo mb-5 mt-5">
                            <span><img src="~/Content/images/wink.png" /></span>
                        </div>
                        <a href="#" title="" class="folow-me">Follow Us on</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="login-reg-bg">
                    <div class="log-reg-area sign">
                        <h2 class="log-title">Edit Profile</h2>
                        @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-md-2 control-label text-secondary mt-5", style = "font-size: 13px;" })*@
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control border-bottom", style = "font-size: 13px; height: 40px; width: 300px;", placeholder = "User Name" })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.NewProfileImage, htmlAttributes: new { @class = "col-md-2 control-label text-secondary mt-5", style = "font-size: 13px;" })*@
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.NewProfileImage, new { type = "file", @class = "form-control border-bottom" })
                                        @Html.ValidationMessageFor(model => model.NewProfileImage, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="submit-btns">
                                        <input type="submit" value="Save" class="btn btn-default" style="font-size: 16px; height: 40px; width: 100px;" />
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="~/Content/js/main.min.js"></script>
<script src="~/Content/js/script.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
